*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
 /* background-image: url(pexels-bri-schneiter-28802-346529.jpg); */
 transition: all 0.5s ease-in-out;
}

body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: -1;
}

.img-slider{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16) 0 3px 6px rgba(0,0,0,0.16);
  height: 70vh;
  width: 70vw;
  position: relative;
  overflow: hidden;
  border: 3px solid white;
  border-radius: 5px;
}
.slide{
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -15vh;
  left: -15vw;
  z-index: 1;
  transform: translateX(-25%);
  transition: all 1s ease-in;
}
.slide.active{
  opacity: 1;
  transform: translate(0%);
}
.arrow{
  position: fixed;
  background: #ddd;
  color: black;
  padding: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 35%;
}
.arrow i{
  font-size: 1.5rem;
}
.arrow:focus{
  outline: none;
}
.arrow-left {
  left: 10vw; /* Adjust as needed */
}

.arrow-right {
  right: 10vw; /* Adjust as needed */
}

